<% layout("layouts/landing") %>

<div class="min-h-screen flex flex-col">
  <%- include("../../partials/landing/header") %>
  <main class="flex-1">
    <%- include("../../partials/landing/hero") %>
    <%- include("../../partials/landing/how-it-works") %>
    <%- include("../../partials/landing/oauth-snippet") %>
    <%- include("../../partials/landing/features") %>
    <%- include("../../partials/landing/cta") %>
  </main>
  <%- include("../../partials/landing/footer") %>
</div>
